#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  cursor: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.box {
  -webkit-mask-image: url(/src/assets/mask.svg);
  mask-image: url(/src/assets/mask.svg);
  -webkit-mask-origin: border-box;
  mask-origin: border-box;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50%;
  mask-position: 50%;
  mask-repeat: no-repeat;
  background: #ec4e39;
  z-index: 1;
  position: absolute;
  color: black;
}

.box, .text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  line-height: 66px;
}

.text {
  position: absolute;
}